@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");

:root{
    --priColorContent:#efefef;
    --txtOnPriColorContent:#1e1e1e;
    --markColor: red;
}



#content-inside{

}

mark{
	background-color: var(--priColorContent)!important;
	color: var(--markColor);
	font-weight: 800;
}


.contentDivs{
	padding: 20px;
}

.about{
	background-color: var(--priColorContent);
	color: var(--txtOnPriColorContent);

	font-family: 'Dosis';
}



.name{
	
}

.name{
	transition: all 0.3s;
}

.nameHeading{

}

.myImg{
	height: 70px;
	width: 70px;
}

.myImg{

}

.aboutPara{
	font-weight: 600;
	font-size: 20px;
	padding: 5px;
}

.education{
	font-family: 'Dosis';
}

.edu-table{
	overflow-x: auto;
}


/*----------------media queries if any----------------*/


@media (max-width: 768px) { /*--- SMALL SCREEN ---*/
	.contentDivs{
		padding: 10px;
	}
	.aboutPara{
		font-size: 16px;
	}

}

@media (min-width: 769px) { /*--- BIG SCREEN ---*/
	.contentDivs{
		padding: 50px;
	}
	.aboutPara{
		font-size: 20px;
	}

}