:root{
    --priColorContent:#efefef;
    --txtOnPriColorContent:#1e1e1e;
    --markColor: red;
}



#content-inside{

}

mark{
	background-color: var(--priColorContent)!important;
	color: var(--markColor);
	font-weight: 800;
}

.about{
	background-color: var(--priColorContent);
	color: var(--txtOnPriColorContent);

	font-family: 'Dosis';
}



.name{
	
}

.name{
	transition: all 0.3s;
}

.nameHeading{

}

.myImg{
	height: 70px;
	width: 70px;
}

.myImg{

}

.about{
	padding: 20px;
}

.aboutPara ul{
	font-weight: 600;
	font-size: 20px;
	padding: 5px;
	list-style-type: none;
}

.education{

}




/*----------------media queries if any----------------*/


@media (max-width: 768px) { /*--- SMALL SCREEN ---*/
	.about{
		padding: 10px;
	}

}

@media (min-width: 769px) { /*--- BIG SCREEN ---*/
	.about{
		padding: 50px;
	}

}