/*
    TODO:
    - feedElement shadow in md and not in sm
 */

:root {
  --primary-color: #00A846;
  --secendory-color: white;
  --accent-color: rgb(90, 90, 90);
  --bg-color: #F9F9FA;

  --shadow-color: rgba(0, 0, 0, 0.2);

  --secondary-light-color: rgb(241, 241, 243);
  --accent-light-color: rgb(113, 128, 150);

  --accent-blue-color: rgb(95, 161, 177);

  --black-color: rgb(0, 0, 0);

  --border-radius: 8px;
}

* {
  font-size: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: var(--bg-color) !important;
}

#container {
  /* background-color: var(--bg-color); */
  padding-bottom: 40px;
}

#containerContent {
  padding-left: 0px;
  padding-right: 0px;
}

/*Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

.header {
  /* height: 50px; */
  background-color: var(--primary-color);
  color: var(--secendory-color);
  /* line-height: 80px; */
  text-align: center;
  padding: 5px 0;
}
/* .header.nav {
  max-height: 100% !important;
  padding-top: 0;
} */
.header .nav .searchBar input{
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 500px;
}
.header .nav .searchBar button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.header .nav .headerLinks a {
  padding-right: 0;
  padding-left: 20px;
}
.headerDropdown{
  z-index: 9999;
}
.header .nav .headerLinks .dropdown a {
  padding-right: 20px;
}
.header .nav .headerLinks button {
  padding-left: 20;
  padding-right: 0;
}
.header .nav .headerLinks button img {
  max-width: 36px;
  border-radius: 50%; /* avatarimage round */
}
.header .nav .headerLinks .dropdown a img {
  max-width: 24px;
  margin-right: 10px;
}

.searchModal .searchBar .searchBarContainer {
  width: 100%;
}


.feedElement .dropdown-menu {
  z-index: 99999;
  box-shadow: 0 0 8px var(--shadow-color);
}
.feedElement .dropdown .dropdown-toggle {
  padding: 0;
  width: 100%;
  height: 100%;
}
.feedElement .dropdownWrapper {
  padding: 0;
}


.pageContent {
  min-height: 100vh;
}

.makePost .avatarImage {
  height: 100%;
  text-align: center;
  padding: 6px 0;
}

.makePost .avatarImage img {
  height: 40px;
  width: auto;
  border-radius: 50%; /* avatarimage round */
}

.makePost .makePostText {
  height: 100%;
  /* line-height: 20px; */
}

.makePost .makePostText button {
  text-align: left;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.makePost .makePostText button:hover {
  background-color: var(--secondary-light-color);
}



/* make post modal popup */
.makePostModal .tab-button {
  padding: 10px 20px;
}
.makePostModal .tab-button.active {
  color: var(--primary-color);
  border-radius: 0;
  border-bottom: 2px solid var(--primary-color);
}
.makePostModal .nav-tabs .nav-link {
  border: none;
  color: var(--accent-color);
}
.makePostModal .nav-tabs .nav-link.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
/* make post modal popup */




.feedElement {
  background-color: var(--secendory-color);
  border-bottom: 5px solid var(--secondary-light-color);
}

.postInfo .postInfoIcon {
  text-align: center;
  color: var(--accent-color);
}

.postInfo .postInfoIcon img {
  width: 16px;
  line-height: 16px;
  border-radius: 50%; /* avatarimage round */

  margin-top: -4px; /* TESTING */
}

.postInfo .postInfoText {
  color: var(--accent-color);
}

.postAuthor {
}
.postAuthor .authorAvatar {
  text-align: center;
}
.postAuthor .authorAvatar img {
  width: 50px;
  border-radius: 50%; /* avatarimage round */
}

.postAuthor .authorTitle {
  font-weight: bold;
}

.postAuthor .authorSubTitle {
  color: var(--accent-light-color);
}

.postContentWrapper .postTitle {
  font-weight: bold;
}

/* different types of posts | posttype */
/* type text */
.postContentWrapper .postContent .postTypeText {
  color: var(--black-color);
}

/* type image */
.postContentWrapper .postContent .postTypeImage .caption {
  color: var(--black-color);
}
.postContentWrapper .postContent .postTypeImage button {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}
.postContentWrapper .postContent .postTypeImage img {
  max-width: 100%;
  border-radius: var(--border-radius);
}

/* type poll */
.postContentWrapper .postContent .postTypePoll ul {
  padding: 5px;
  list-style-type: none;
}
.postContentWrapper .postContent .postTypePoll ul li{
  padding: 4px 0;
  border: 1px solid var(--secondary-light-color);
  border-radius: var(--border-radius);
  margin: 4px 0;
}
.postContentWrapper .postContent .postTypePoll ul li:hover{
  background-color: var(--secondary-light-color);
}
.postContentWrapper .postContent .postTypePoll ul li input[type="radio"]:checked + li {
  background-color: var(--secondary-light-color);
}
.postContentWrapper .postContent .postTypePoll ul li input{
  margin-left: 15px;
}
.postContentWrapper .postContent .postTypePoll ul li label{
  font-size: 1.2em;
  padding-left: 20px;
  margin: 0;
  width: 85%;
}


/* different type of posts ends */

.postContentWrapper .postedIn {
  color: var(--accent-color);
}

.postContentWrapper .postedIn .emphasizeText {
  color: var(--black-color);
  font-weight: bold;
}

.postButtonsWrapper .postButton {
  /* text-align: center; */
  padding: 0;
}

.postButtonsWrapper .postButton button {
  display: flex;
  vertical-align: middle;
  text-align: center;
  padding: 5px 0;
  background-color: transparent;
  font-weight: bold;
  color: var(--accent-blue-color);
  width: 100%;
  height: 100%;
  outline: none;
}

.postButtonsWrapper .postButton button ion-icon {
  font-size: 18px;
  /* margin-top: -4px; */
  padding-right: 5px;
}

.postButtonsWrapper .postButton .likeButton {
  width: 50% !important;
  float: left;
}

.postButtonsWrapper .postButton .likeButton {
  padding-left: 20px;
}

.likeUnlikeDefault {
    color: var(--accent-blue-color) !important;
}

.likeUnlikeActive {
    color: var(--primary-color) !important;
}

.commentSection {
  border-top: 1px solid var(--secondary-light-color);
}

.commentSection .prevCommentButtonWrapper button {
  background-color: transparent;
  color: var(--accent-blue-color);
}

.commentSection .commentAuthorAvatar {
  text-align: center;
  padding: 0;
}

.commentSection .commentAuthorAvatar img {
  width: 40px;
  height: auto;
  border-radius: 50%; /* avatarimage round */
}

.addCommentWrapper .commentTextField input {
  width: 100%;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: var(--secondary-light-color);
  height: 100%;
  padding: 0 20px;
  color: var(--accent-color);
}
.addCommentWrapper:focus-within .postCommentButtons {
  display: flex !important;
  justify-content: space-between;
}
.commentSection .commentContent .authorTitle {
  font-weight: bold;
}

.commentSection .commentContent .authorTitle span {
  color: var(--accent-light-color);
  font-weight: normal;
}

.commentSection .commentImage img {
  max-width: 100%;
  border-radius: var(--border-radius);
}

.commentSection .commentButtonsWrapper div {
  /* padding: 0; */
}

.commentSection .commentButtonsWrapper .commentTime {
  color: var(--accent-light-color);
  font-weight: bold;
  line-height: 2.5em;
  padding: 0;
  padding-left: 15px;
}

.commentSection .commentButtonsWrapper button {
  background-color: transparent;
  outline: none;
  width: 100%;
  font-weight: bold;
  color: var(--accent-blue-color);
}



.alert {
  padding: 10px 15px !important;
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
}







/* Left Panel Menu */
.sideMenu .menuElement {
  padding-left: 0;
}
.sideMenu .menuElement button{
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    text-align: left;
    padding: 10px 0;
    font-weight: 400;
    color: var(--accent-light-color);
    font-size: 14px;
    /* transition: all 0.1s ease-in-out; */
}

.sideMenu .menuElement button ion-icon{
  font-size: 1.2em;
}

.sideMenu .menuElement button:hover {
    /* background-color: var(--primary-color); */
    /* color: var(--secendory-color); */
    /* padding-left: 25px; */
    color: var(--accent-color);

    /* box-shadow: 0 0 8px var(--shadow-color); */
}

.sideMenu .menuElement button img {
  /* max-width: 24px !important; */
  height: auto;
  padding-right: 5px;
  margin-top: -4px;
}

/* when the button is active */
.sideMenu .menuItemActive button {
    color: var(--primary-color);
    font-weight: 600;
}



/* mobile top panel */
.mobileTopPanel .menuElement .menuItemImage {
  text-align: center;
}

.mobileTopPanel .menuElement .menuItemImage img {
  max-width: 24px;
}

.mobileTopPanel .menuElement .menuItemText {
  text-align: center;
}
/* mobile top panel ends */




/* Right Panel */

.rightPane .advert {
    background-color: var(--secendory-color);
    min-height: 100px;
    overflow: hidden;
    padding: 0;
    border-bottom: 4px solid var(--accent-color);
}
.rightPane .advert img {
    width: 100%;
    height: auto;
}






/* =============================================================================================================================================================================== */



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .makePost .makePostText {
        line-height: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #containerContent {
    padding-left: 15px;
    padding-right: 15px;
  }
  .makePost .avatarImage {
    padding: 0;
  }
  .feedElement {
    border: none;
    border-radius: var(--border-radius);
    /* box-shadow: 0 4px 4px var(--shadow-color); */
  }
  .postButtonsWrapper .postButton button {
    /* text-align: left; */
  }
  .commentSection .commentButtonsWrapper .commentTime {
    padding: 0 15px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}
